<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">
  <display-name>tourapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>HTMLServlet</servlet-name>
		<servlet-class>org.jbundle.servlet.Servlet</servlet-class>
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>XMLServlet</servlet-name>
		<servlet-class>
			org.jbundle.base.screen.control.servlet.xml.XMLServlet
		</servlet-class>
		<init-param>
			<param-name>stylesheet-path</param-name>
			<param-value>docs/styles/xsl/ajax/base/</param-value>
		</init-param>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<servlet-class>
			jnlp.sample.servlet.JnlpDownloadServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<servlet-class>
			org.jbundle.base.remote.proxy.ProxyServlet
		</servlet-class>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>
			org.jbundle.base.remote.proxy.AjaxServlet
		</servlet-class>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>

<!-- 			org.jbundle.base.screen.control.servlet.html.RedirectServlet -->
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>
			org.jbundle.util.webapp.redirect.RegexRedirectServlet
		</servlet-class>
		<init-param>
			<param-name>regex</param-name>
			<param-value>www.+.tourgeek.com</param-value>
		</init-param>
		<init-param>
			<param-name>regexTarget</param-name>
			<param-value>demo/index.html</param-value>
		</init-param>
		<init-param>
			<param-name>ie</param-name>
			<param-value>tourappxsl</param-value>
		</init-param>
		<init-param>
			<param-name>firefox</param-name>
			<param-value>tourappxsl</param-value>
		</init-param>
		<init-param>
			<param-name>chrome</param-name>
			<param-value>tourappxsl</param-value>
		</init-param>
		<init-param>
			<param-name>safari</param-name>
			<param-value>tourappxsl</param-value>
		</init-param>
		<init-param>
			<param-name>webkit</param-name>
			<param-value>tourappxsl</param-value>
		</init-param>
		<init-param>
			<param-name>java</param-name>
			<param-value>tourappxhtml</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>
			org.jbundle.base.message.trx.transport.html.MessageServlet
		</servlet-class>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>

	<!-- These are the servlets for jaxm messaging -->
	<servlet>
		<servlet-name>receivingservlet</servlet-name>
		<servlet-class>
			org.jbundle.base.message.trx.transport.soap.MessageReceivingServlet
		</servlet-class>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>
	<!-- These are the servlets for xml messaging -->
	<servlet>
		<servlet-name>xmlwsservlet</servlet-name>
		<servlet-class>
			org.jbundle.base.message.trx.transport.xml.XMLMessageReceivingServlet
		</servlet-class>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>Cocoon</servlet-name>
		<servlet-class>
			org.jbundle.base.screen.control.servlet.xml.cocoon.CocoonServletWrapper
		</servlet-class>
		<init-param>
			<param-name>init-classloader</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>configurations</param-name>
			<param-value>/WEB-INF/cocoon.xconf</param-value>
		</init-param>
		<init-param>
			<param-name>logkit-config</param-name>
			<param-value>/WEB-INF/logkit.xconf</param-value>
		</init-param>
		<init-param>
			<param-name>servlet-logger</param-name>
			<param-value>access</param-value>
		</init-param>
		<init-param>
			<param-name>cocoon-logger</param-name>
			<param-value>core</param-value>
		</init-param>
		<init-param>
			<param-name>log-level</param-name>
			<param-value>WARN</param-value>
		</init-param>
		<init-param>
			<param-name>forbidden-deprecation-level</param-name>
			<param-value>ERROR</param-value>
		</init-param>
		<init-param>
			<param-name>allow-reload</param-name>
			<param-value>no</param-value>
		</init-param>
		<init-param>
			<param-name>enable-uploads</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>autosave-uploads</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>overwrite-uploads</param-name>
			<param-value>rename</param-value>
		</init-param>
		<init-param>
			<param-name>manage-exceptions</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>enable-instrumentation</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>instrumentation-config</param-name>
			<param-value>/WEB-INF/instrumentation.xconf</param-value>
		</init-param>
		<init-param>
			<param-name>container-encoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>form-encoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<!-- These are my params: -->
		<init-param>
			<param-name>remotehost</param-name>
			<param-value>localhost</param-value>		<!-- This will enable messages out using the localhost jini server -->
<!-- 			<param-name>Remote</param-name>
			<param-value>Jdbc</param-value> You can change the default db server types here -->
		</init-param>
		<!--<load-on-startup>1</load-on-startup>-->
	</servlet>

	<servlet-mapping>
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapp/table</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapp/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapp/jnlp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapp/wsdl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/wsdl</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- This is the default for ?applet, etc, don't change it -->
 		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
 		<servlet-name>Cocoon</servlet-name>
		<url-pattern>/tourapp/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- ajax using xml stylesheets -->
		<servlet-name>XMLServlet</servlet-name>
		<url-pattern>/tourappxml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- ajax using xml [cocoon first screen] stylesheets (TESTING ONLY) -->
		<servlet-name>Cocoon</servlet-name>
		<url-pattern>/tourappxsl</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- xhtml using cocoon -->
		<servlet-name>Cocoon</servlet-name>
		<url-pattern>/tourappxhtml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- html using html resources -->
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapphtml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- ajax using ajax resources -->
		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourappajax</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
 		<servlet-name>HTMLServlet</servlet-name>
		<url-pattern>/tourapp.jnlp</url-pattern>	<!-- Since some browsers don't sense the jnlp type for applets -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<url-pattern>*.jnlp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>receivingservlet</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xmlwsservlet</servlet-name>
		<url-pattern>/xmlws</url-pattern>
	</servlet-mapping>
<!-- 
	<servlet-mapping>
		<servlet-name>Cocoon</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
 -->
 	<servlet-mapping>
		<servlet-name>Cocoon</servlet-name>
		<url-pattern>/hello.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	<!-- tests using cocoon -->
		<servlet-name>Cocoon</servlet-name>
		<url-pattern>/docs/test/xml/*</url-pattern>
	</servlet-mapping>

	<!-- Forrest needs everything to go through cocoon
		<servlet-mapping>
		<servlet-name>Cocoon</servlet-name>
		<url-pattern>/</url-pattern>
		</servlet-mapping>
	-->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>xsl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

</web-app>