<?xml version="1.0" encoding="UTF-8"?><jnlp codebase="$$context" spec="1.0+">
<information>
<title>Tour Application Resources</title>
<vendor>tourapp.com</vendor>
<homepage href="index.html"/>
<description kind="one-line">Tour Application Resources</description>
<description kind="short">Tour Application Resources</description>
<icon href="images/tour/icons/Tour.gif"/>
<offline-allowed/>
<keywords>tour</keywords>
</information>
<security/>
<resources>
<java max-heap-size="512m" initial-heap-size="128m" version="1.6+"/>
<property value="true" name="jnlp.packEnabled"/>
<jar href="lib/com.tourapp.tour.acctpay-${project.version}.jar" part="com.tourapp.tour.acctpay" download="lazy"/>
<package name="com.tourapp.tour.acctpay.*" part="com.tourapp.tour.acctpay" recursive="true"/>
<jar href="lib/com.tourapp.tour.acctrec-${project.version}.jar" part="com.tourapp.tour.acctrec" download="lazy"/>
<package name="com.tourapp.tour.acctrec.*" part="com.tourapp.tour.acctrec" recursive="true"/>
<jar href="lib/com.tourapp.tour.assetdr-${project.version}.jar" part="com.tourapp.tour.assetdr" download="lazy"/>
<package name="com.tourapp.tour.assetdr.*" part="com.tourapp.tour.assetdr" recursive="true"/>
<jar href="lib/com.tourapp.tour.base-${project.version}.jar" part="com.tourapp.tour.base" download="lazy"/>
<package name="com.tourapp.tour.base.*" part="com.tourapp.tour.base" recursive="true"/>
<jar href="lib/com.tourapp.tour.booking-${project.version}.jar" part="com.tourapp.tour.booking" download="lazy"/>
<package name="com.tourapp.tour.booking.*" part="com.tourapp.tour.booking" recursive="true"/>
<jar href="lib/com.tourapp.tour.genled-${project.version}.jar" part="com.tourapp.tour.genled" download="lazy"/>
<package name="com.tourapp.tour.genled.*" part="com.tourapp.tour.genled" recursive="true"/>
<jar href="lib/com.tourapp.tour.message.core-${project.version}.jar" part="com.tourapp.tour.message.core" download="lazy"/>
<package name="com.tourapp.tour.message.*" part="com.tourapp.tour.message.core" recursive="true"/>
<jar href="lib/com.tourapp.tour.payroll-${project.version}.jar" part="com.tourapp.tour.payroll" download="lazy"/>
<package name="com.tourapp.tour.payroll.*" part="com.tourapp.tour.payroll" recursive="true"/>
<jar href="lib/com.tourapp.tour.product-${project.version}.jar" part="com.tourapp.tour.product" download="lazy"/>
<package name="com.tourapp.tour.product.*" part="com.tourapp.tour.product" recursive="true"/>
<jar href="lib/com.tourapp.tour.profile-${project.version}.jar" part="com.tourapp.tour.profile" download="lazy"/>
<package name="com.tourapp.tour.profile.*" part="com.tourapp.tour.profile" recursive="true"/>
<jar href="lib/com.tourapp.tour.request-${project.version}.jar" part="com.tourapp.tour.request" download="lazy"/>
<package name="com.tourapp.tour.request.*" part="com.tourapp.tour.request" recursive="true"/>
</resources>
<component-desc/>
</jnlp>
